<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Staatliches&display=swap" rel="stylesheet">
   <title> {{ movie_data["title"]}} </title>
</head>
<body>
    <div class="container">
        <div class="left"></div>
        <img src="{{ movie_data["poster"] }}" alt="The poser of the movie" />
        <div class = "top-section">
            <h1 id="title"> {{ movie_data["title"]}} </h1>
            <p id="tagline"> {{ movie_data["tagline"]}} </p>
            <p id="overview"> {{ movie_data["overview"]}} </p>
            <p id="genre"> Genre: {{ movie_data["genres"]}} </p>
            <a href= "{{ wiki_page_url }}" target="_blank">
                <button>Go to the Wikipedia page </button>
            </a>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}  
        {% if messages %} 
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message">
                <h1>{{message}}</h1>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    
    <div class="leave_comment">
        <h2>Leave a comment:</h2>
        <form method="POST" action="/comment">
            <input type="hidden" name="username" value="{{ current_user.username }}">
            <input type="hidden" name="movie_id" value="{{ movie_data["id"] }}">
            <h3>Rate it out of 10: </h3>
            <input type="number" name="rating" min="1" max="10" step="1">
            <br> <br>
            <h3> Tell everyone what you thought:</h3>
            <textarea name="comment"></textarea>
            <br> <br>
            <input type="submit" name="submit_comment"/>
        </form>
    </div>
    <div class = "comment_section">
        {% if comments %}
            <h2>Comments:</h2>
            <ul>
                {% for comment in comments %}
                {% if comment.rating and comment.comment %}
                    <li>{{ comment.username }}: {{ comment.rating }}, {{ comment.comment }}</li>
                {% elif comment.rating %}
                    <li>{{ comment.username }}: {{ comment.rating }}</li>
                {% elif comment.comment %}
                    <li>{{ comment.username }}: {{ comment.comment }}</li>
                {% endif %}
            {% endfor %}            
            </ul>
        {% endif %}
    </div>
</body>
</html>