<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Staatliches&display=swap" rel="stylesheet">
   <title> {{ movie_data["title"]}} </title>
</head>
<body>
    <div class="container">
        <div class="left"></div>
        <img src="{{ movie_data["poster"] }}" alt="The poser of the movie" />
        <div class = "top-section">
            <h1 id="title"> {{ movie_data["title"]}} </h1>
            <p id="tagline"> {{ movie_data["tagline"]}} </p>
            <p id="overview"> {{ movie_data["overview"]}} </p>
            <p id="genre"> Genre: {{ movie_data["genres"]}} </p>
            <a href= "{{ wiki_page_url }}" target="_blank">
                <button>Go to the Wikipedia page </button>
            </a>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}  
        {% if messages %} 
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message">
                <h1>{{message}}</h1>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    
    <div class="comment-section">
        <h3>Leave a comment</h3>
        <h3>username</h3>
        <h3>rating: </h3>
        <form method="POST" action="/index">
            <input type="number" name="rating" min="1" max="10" step="1">
            <textarea name="comment"></textarea>
            <input type="submit" name="submit_comment"/>
        </form>
    </div>
</body>
</html>