<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
    <title>Login page</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}  
        {% if messages %} 
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message">
                <h1>{{message}}</h1>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

    <div class="form-container">
        <h1>Enter your username:</h1>
        <form method="POST" action="/login">
            <input type="text" name="username" />
            <br>
            <br>
            <input type="submit" name="login" value="Login"  />
            <input type="submit" name="create_account" value="Create Account" />
        </form>
    </div>
</body>
</html>
